<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
<body>
<h1>{{ title }}</h1>

<form action="/users/{{ user['id'] }}" method="POST">
    <p>Id: {{ user['id'] }}</p>
    <p>Name: <input type="text" name="name" value="{{ user['name'] }}"/></p>
    <p>Idm: <input type="text" name="idm" value="{{ user['idm'] }}"/></p>
    <p>Is working:
        <select name="is_working">
            <option value="True" {% if user['is_working'] %} selected="selected"{% endif %}>True</option>
            <option value="False" {% if not user['is_working'] %} selected="selected"{% endif %}>False</option>
        </select>
    </p>
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>
